
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes floatAnimation {
    from {
      transform: translate(-20%, -20%);
      opacity: 0.9;
    }
    to {
      transform: translate(-20%, -20%) translateY(-6px);
      opacity: 1;
    }
  }

  .marquee-container {
    width: 100%;
    overflow: hidden;
  }
  
  .marquee {
    display: flex;
    white-space: nowrap;
    animation: marquee 90s linear infinite;
  }
  
  .logo {
    width: 100px;
    height: auto;
    margin-right: 80px; /* Adjust the margin-right value to give more or less space between logos */
  }
  
  @keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  @media (max-width: 768px) {
    .logo {
      width: 60px;
      margin-right: 40px;
      
      /* Adjust other styles as needed for smaller screens */
    }
    .brands-container {
        margin-bottom: 40px;
    }
  }

  .zoom-image {
    transition: transform 0.2s ease-in-out; /* Add transition effect for smooth zoom */
  }
  
  .zoom-image:hover {
    transform: scale(1.1); /* Apply scale transformation on hover */
  }


  .css-7dv1rb-MuiButtonBase-root-MuiFab-root-MuiSpeedDial-fab{
    background-color: #372B29 !important;
  }

  .css-5lbw0b-MuiTypography-root, .css-ahj2mt-MuiTypography-root{
  font-family:'Satoshi-Regular',sans-serif !important;

  }
  .speciality-box {
    margin-right: 80px;
    width: 100%;
    background-color: #372B29;
    color: #FFF4F1 !important;
    transition: background-color ease-in-out 0.5s; /* Changed transition property */
  }
  
  .speciality-box:hover {
    background-color: #FFF4F1;
    color: #372B29!important;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  }
  

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .visible {
    animation: fadeIn 0.5s ease forwards;
  }
  
  .hidden {
    opacity: 0;
  }
  

.contact-us{
  
}

.sticky{
  position: sticky;
  top: 150px;
}

.aboutusicon{
  width: 50px;
  animation: floatAnimation 3s infinite ease-in-out; /* Adjust duration and other properties as needed */
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.4));
}
@keyframes floatAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px); /* Adjust the amount of vertical translation */
  }
  100% {
    transform: translateY(0);
  }
}

@media( max-width: 768px) {
  .sticky{
    position: sticky;
    top: 59px;
    z-index: -10;
  }
}
