body {
  margin: 0;
  font-family:'Satoshi-Regular',sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{
  font-family:'Satoshi-Regular',sans-serif ;

}

.MuiTypography-root {
  font-family: 'Satoshi-Regular', sans-serif !important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Satoshi-Regular';
  src: url('../src/assets/fonts/Satoshi-Regular.woff') format('woff'), 
}
@font-face {
  font-family: 'integral-Regular';
  src: url('../src/assets/fonts/IntegralCF-ExtraBold.woff') format('woff'), 
       url('../src/assets/fonts/IntegralCF-ExtraBold.woff2') format('woff2')
}




