html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {

  --headlineBig: clamp(5rem, 9.9vw, 15rem);
  --headlineMedium: clamp(1rem, 2vw, 4rem);
  --headlineSmall: clamp(0.6rem, 0.75vw, 1.3rem);
  --spacing: clamp(0.9rem, 0.75vw, 1.3rem);
}

body {
  /* background-color: #ffe9e5; */
}

.hero__header {
  height: 100vh;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.hero__header h1 {
  font-size: var(--headlineBig);
  color: #e6e6e6;
}

.hero__header h2 {
  letter-spacing: var(--headlineSmall);
  font-size: var(--headlineSmall);
  text-transform: uppercase;
  color: var(--primaryColor);
}

.scroll-section-outer {
  overflow: hidden;
  background-color:#FFF4F1;
}

.scroll-section-inner {
  height: 100vh;
  width: 300vw;
  display: flex;
  flex-direction: row;
  position: relative;
}

.scroll-section {
  height: 100vh;
  width: 190vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-section h3 {
  color: #e6e6e6;
  letter-spacing: var(--headlineMedium);
  font-size: var(--headlineMedium);
  text-transform: uppercase;
}
body {
  height: 300vh;
}

/* hero */
.container {
  height: 100vh;
  width: 100%;
  position: relative;
}

.scaleDown {
  width: 100vw;
  height: 90vh;
  position: absolute;
  top: 20%;
  left: 20%;
  display: flex;
  justify-content: center;
  background-color: #FFF4F1;
  transform-origin: center center;
  transform: translate(-20%, -40%) scale(20);
}

.main-section{
  width: 100vw;
  position: relative;
}

/* section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.h2 {
  font-size: 60px;
  text-align: center;
  font-weight: 900;
} */


/* text */

.text-ani {
  display: grid;
  place-content: center;
  height: 50vh;
}

.my-text {
  font-size: 7rem;
  text-transform: uppercase;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  line-height: 5.9rem;
}

.char {
  transform: translateY(115px);
  transition: transform .5s;
}

/* SCROLL-button animation */

.mouse {
	width: 20px;
	height: 40px;
	border: 2px solid #333;
	border-radius: 60px;
	position: relative;
	&::before {
		content: '';
		width: 8px;
		height: 8px;
		position: absolute;
		top: 10px;
		left: 50%;
		transform: translateX(-50%);
		background-color: #333;
		border-radius: 50%;
		opacity: 1;
		animation: wheel 2s infinite;
		-webkit-animation: wheel 2s infinite;
	}
}

@keyframes wheel {
	to {
		opacity: 0;
		top: 60px;
	}
}

@-webkit-keyframes wheel {
	to {
		opacity: 0;
		top: 60px;
	}
}

@media(max-width:600px){
  .container{
    margin-top:-10px;
    height: 37vh;


  }

  .scaleDown{
    height: 0;
    top:0;
  }

  .mouse{
    width: 10px;
	height: 20px;
	border: 1px solid #333;
	border-radius: 60px;
	position: relative;
	&::before {
		content: '';
		width: 4px;
		height: 4px;
		position: absolute;
		top: 10px;
		left: 50%;
		transform: translateX(-50%);
		background-color: #333;
		border-radius: 50%;
		opacity: 1;
		animation: wheel 2s infinite;
		-webkit-animation: wheel 2s infinite;
	}
  }
}